langdetect==1.0.9
pandas==1.2.4
six==1.16.0
#torch==1.8.1
boto3==1.18.49
botocore==1.21.49
click==8.0.0a1
seqeval==1.2.2
regex==2021.8.28
datasets==1.12.1
tensorflow-datasets==4.4.0
transformers==4.10.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tokenizers==0.10.3
sentencepiece==0.1.96
Flask==2.1.0
seldon-core==1.10.0
markupsafe==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.3
Werkzeug==2.0.3
protobuf==3.20.0
simpletransformers==0.61.4
onnx
onnxruntime